:root {
  --Violet: hsl(257, 40%, 49%);
  --hover: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--Violet);
  color: #fff;
  /* padding: 20px; */
  margin: 0 auto;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* min-width: 330px;
  max-width: 900px; */
}

/*................ header.............. */
.header {
  margin-left: 25px;
}
.header__logo {
  width: 200px;
  margin-top: 20px;
}

/*................Main.............. */
.main {
  text-align: center;
}
.main figure {
  margin: 0 auto;
  margin-bottom: 45px;
}
.main__img {
  width: 300px;
  height: 230px;
  margin-top: 30px;
}
.main__description {
  font-family: Poppins;
}
.main__description h1 {
  font-weight: 600;
  margin-bottom: 15px;
}
.main__description p {
  font-weight: 400;
  font-size: 15px;
  color: #ded0f2;
  margin-bottom: 35px;
  padding: 0 25px;
}
.main__description a {
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 75px;
  color: var(--Violet);
  font-weight: 400;
  box-shadow: 0.6px 4px 4px rgb(77, 76, 76);
  font-size: 12px;
}

/*................Footer.............. */
.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.footer i {
  color: #ded0f2;
  margin: 0 5px;
  border: 2px solid #ded0f2;
  border-radius: 50%;
  padding: 10px;
}

/*................Media Queries.............. */
@media screen and (min-width: 500px) {
  .main__img {
    width: 500px;
    height: 330px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--Violet);
    color: #fff;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    padding: 0 20px;
    overflow: hidden;
  }
  .main__description {
    text-align: left;
    margin-left: 20px;
  }
  .main__description h1 {
    font-size: 32px;
  }
  .main__description p {
    text-align: left;
    padding: 0;
    font-size: 18px;
    margin-bottom: 25px;
    margin-right: 20px;
  }
  .main__description a {
    padding: 10px 50px;
  }
  .footer {
    text-align: right;
    margin: -20px 50px 0;
  }
}
